/* .parent{
    border: 1px solid black;
    background-color: rgb(191, 224, 224);
}


.server{
    border: 1px solid black;
} */

/* @import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap/dist/css/bootstrap.min.css"; */


