


<div  class="head_t">
  <h1 class="text_tavaki test_hq">მაგთიკომი</h1>


</div>
<div class="but_cont"> 

<div class=" buto container text-center " id="hide1" >
  <div class="borde but_but">
    <button class="button-89 but_1 " role="button" (click)="input_cvladi()">ველის შევსება</button>
  </div>
  
  <div class="borde but_but">
    <button class="button-89 but_1 "  role="button"  (click)="fill_data_table()" >მონაცემების შენახვა</button>
  </div>
  <div class="borde but_but">
    <button class="button-89 but_1 "  role="button" (click)="finde_tp_1()">დავალების ძებნა</button>
  </div>
  <div class="borde but_but">
    <button class="button-89 but_1 "  role="button" (click)="print()">დავალების ბეჭდვა</button>
  </div>
    
</div> 
</div>
<hr>



<div  class="t_div paret_input" id="hide">
  <div  class="chiled1_input " >
    <input  list="part "   placeholder="შემოიტანეთ პარტი" [(ngModel)]="cvladi"  [(ngModel)]="part" >
    <datalist class="mine_2" id="part ">
      
     </datalist> 
  </div>
  <div  class="chiled1_input">
    <input type="text" class="tp"  placeholder="შემოიტანეთ ტექდავალება"  [(ngModel)]="tp">
  </div>
  <div  class="chiled1_input">
    <input list="part"   placeholder="შემოიტანეთ სახელი"[disabled]="cvladi===''"  [(ngModel)]="worker1">
    <datalist id="part">
      <option value="გიორგი ჟორჟოლიანი"></option>
      <option value="ივერი საკანდელიძე"></option>
      <option value="ავთანდილ ალფაიძე"></option>
     </datalist> 
  </div>
  <div  class="chiled1_input">
    <input list="part"   placeholder="შემოიტანეთ სახელი"[disabled]="cvladi===''"  [(ngModel)]="worker2">
    <datalist id="part">
      
     </datalist> 
  </div><br>
  <div  class="chiled1_input">
    <input list="part"   placeholder="შემოიტანეთ სახელი"[disabled]="cvladi===''"  [(ngModel)]="worker3">
    <datalist id="part">
      
     </datalist> 
  </div>
  <div  class="chiled1_input">
    <input list="part1"   placeholder="საიტის სახელი" [(ngModel)]="location" >
    <datalist id="part1">
      <option value="ანაკლი"></option>
      <option value="ქუთაისი"></option>
      <option value="ბათუმი"></option>
     </datalist> 
  </div>
  <div  class="chiled1_input">
    <input type="text"    placeholder=" პარტი" class="part" [disabled]='true' [(ngModel)]="cvladi_part"  [(ngModel)]="new_part"  > 
  </div>
  <div  class="chiled1_input">
    <input type="text"    placeholder=" სერიული" class="seriul_number" [(ngModel)]="cvladi_seriuli" [(ngModel)]="seriuli_1" >
  </div> <hr>
  <!-- <div class="chiled1_input">
    <input type="text"  [(ngModel)]="cvladi" placeholder="შემოიტანეთ პარტი" [disabled]="cvladi===''">
  </div> -->
  <!-- <div class="chiled1_input">
    <input type="text"  [(ngModel)]="cvladi" placeholder="სერიული" [disabled]="cvladi===''">
  </div> -->
  
</div>



<!-- <h1 onmouseenter=``style=`animation-name: animacia; animation-duration: 5s;```>giorgi</h1> -->

<div  class="  container text-center">
  <table  class="col1 container1 text-center1 cxrili12  table table-bordered border-primary">
    <tr class="row1">
      <th class="col2"></th>
    </tr>
  </table>
</div>

<!-- <div  class=" container text-center ">
  <table class="table table-striped cxrili12">
  
  </table>
</div> -->

<!-- <button (click)="get_ip()">ip addres</button> -->


 <!-- <h1 >{{title}}</h1> -->

<!-- <p *ngFor="let data_catch of dataa">{{data_catch}} </p> -->

<!-- <h1 style="border: 2px solid hsl(240, 100%, 1%);">avto</h1> -->

<!-- <h1  *ngIf="cvladi1===2; else else_com">it is okk    {{for_loop}}</h1> -->

<!-- <ng-template #else_com> <p> {{cvladi1}}</p></ng-template> -->
<!-- <h1>gio</h1> -->
<!-- <h1 class="component">{{indikatori}}</h1> -->
<!-- <input type="text" [(ngModel)]="title"> -->


<!-- /////////////////////////////// -->

<!-- <h1>bainding</h1> -->
<!-- <input type="text" [(ngModel)]="baind_test"><br> -->
<!-- <input type="text" [(ngModel)]="baind_test"><br> <hr> -->
<!-- <h1>end</h1> -->

<!-- <input type="text" #server> -->

<!-- <button (click)=" hash(server)"> click hash</button> -->

<!-- <button (click)="test_1()" >click</button> -->

<!-- <button (click)="chiled_click()">chiled click from parent</button> -->

<!-- <app_home  (out_test1)="from_p2()"  (out_test)="from_p()"  [(sr)]="baind_test" [(tp_find)]="cxrili"  [element_app]="element[0]['test_elementi']" ></app_home> -->

<app_home  (out_test1)="from_p2()"  (out_test)="from_p()"   ></app_home>


 <!-- <h1 (out_test)=""></h1>  -->

<!-- <button type="button" (click)="fun.click_test()">Large button</button> -->
<!-- <button type="button" class="btn btn-secondary btn-lg">Large button</button> -->

<!-- <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
  Single toggle
</button> -->












